* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-self: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #e0e0e0, rgba(41, 42, 127, 0.779));
    color: #333;
}

form {
    display: flex;
}

.form-table {
    box-sizing: border-box;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 17px;
}


button {
    box-sizing: border-box;
    width:100%;
    padding: 10px;
    background: #b86c28;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    font-weight:500;
    transition: 0.5s;
}

button:hover {
    background-color: #516a45e1;
}

input{
    padding: 12px;
    background:#e9e9e9;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: in;
    border:none;
    font-size: 16px;
    font-weight: 400;
    color:#000000;
    margin-bottom: 20px;
}

h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}
